<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener</title>
</head>
<body>
<form action="/create" method="post">
	<input type="text" name="url" placeholder="Insert URL to convert!">
	<input type="Submit">
</form>
</body>
</html>